*{
    background-color: black;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
#board{
    background-color: rgb(27, 34, 34);
    border: 1px solid rgb(59, 124, 177);
    position: absolute;
    margin: auto;
    line-height: 0;
    display: flex;
}
.tile{
    background-color: rgb(75, 32, 32);
    width:  25px;
    height: 25px;
    margin: 2px;
    text-align: center;
}
.row{
    width: 5%;
    display: block;
}
/* .red{
    background-color: red;
} */
 .clicked{
    background-color: rgb(0, 55, 117);
 }