:root {
    --main-background: rgb(0, 0, 0); 
    --board-color:rgb(29, 29, 29);
}

* {
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#board-container {
    display: flex;
    justify-content: center;
}

#board {
    position: absolute;
    display: flex;
    line-height: 0;
}

.tile {
    background-color: rgb(49, 49, 49);
    width: 25px;
    height: 25px;
    margin: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms;
    cursor: pointer;

    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.row {
    width: 5%;
    display: block;
}

/* .red {
    background-color: red;
} */

.clicked {
    background-color: rgb(0, 255, 117);
}

.flag {
    width: 80%;
    background-color: transparent;
}